
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/.idea/dataSources/8fa9f85c-9218-43f7-a18e-b21fd1a76d3d.xml
/public/uploads/avatars/5869262.jpg
/public/uploads/avatars/at-images-profile-641079217140b.png
/public/uploads/avatars/bulgakov.png
/public/uploads/avatars/Chekhov.jpg
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/git_toolbox_prj.xml
/public/uploads/avatars/gogol.jpg
/.idea/dataSources/8fa9f85c-9218-43f7-a18e-b21fd1a76d3d/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/public/uploads/avatars/london.jpg
/public/uploads/avatars/mayakovski.jpeg
/.idea/dataSources/8fa9f85c-9218-43f7-a18e-b21fd1a76d3d/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/8fa9f85c-9218-43f7-a18e-b21fd1a76d3d/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/php.xml
/.idea/phpunit.xml
/public/uploads/avatars/pushkin.jpeg
/config/packages/stof_doctrine_extensions.yaml
/.idea/symfony2.xml
/.idea/commandlinetools/Symfony_13_03_2023__11_37.xml
/.idea/dataSources/8fa9f85c-9218-43f7-a18e-b21fd1a76d3d/storage_v2/_src_/schema/sys.zb4BAA.meta
/public/uploads/avatars/test-image.jpg
/.idea/vcs.xml
/.idea/workspace.xml
