{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block mainContent %}
    {% include 'partial/header-line.html.twig' with {'title': 'Сброс пароля', 'parent': 'Главная'} %}
<div class="Section">
    <div class="wrap">
    <p>
        Если email существует, мы отправили письмо в котором содержится ссылка для сброса пароля. Срок действия ссылки истечет через
{#        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.#}
{#        This link will expire in #}
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Если вы не получили письмо - проверьте папку со спамом или <a href="{{ path('app_forgot_password_request') }}">попробуйте снова</a>.</p>
    </div>
</div>
{% endblock %}
