{% extends 'base.html.twig' %}

{% block title %}Сброс пароля{% endblock %}

{% block mainContent %}
        {% include 'partial/header-line.html.twig' with {'title': 'Сброс пароля', 'parent': 'Главная'} %}
<div class="Section">
    <div class="wrap">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {{ form_start(requestForm, {'attr': {'class': 'form Authorization'}}) }}
        <div class="form-group">
        {{ form_row(requestForm.email) }}
        </div>
        <div>
            <small>
                Введите адрес почты, и мы отправим вам ссылку для сброса пароля
            </small>
        </div>

        <div class="form-group">
        <button class="btn btn_primary" style="margin-top: 25px;">Отправить письмо для сброса пароля</button>
        </div>
    {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
