{% extends 'base.html.twig' %}

{% block title %}Сброс пароля{% endblock %}

{% block mainContent %}
    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Сбросить пароль</button>
    {{ form_end(resetForm) }}
{% endblock %}
