{% include "./partial/header.html.twig" %}

<div class="Middle">
	<div class="Section">
		<div class="wrap">
        {% block mainContent %}{% endblock %}
        </div>
	</div>
</div>

{% include "./partial/footer.html.twig" %}
