<div class="Header-categories">
    <div class="CategoriesButton">
        <div class="CategoriesButton-title">
            <div class="CategoriesButton-icon"><img src="{{ asset('images/icons/allDep.svg') }}" alt="allDep.svg"/>
            </div>
            <span class="CategoriesButton-text">Категории</span>
            <div class="CategoriesButton-arrow"></div>
        </div>
        <div class="CategoriesButton-content">
            {% if categories|default(false) %}
                {% for category in categories %}
                    <div class="CategoriesButton-link">
                        <a href="{{ path('app_catalog_category', {'category': category.id}) }}">
                            <div class="CategoriesButton-icon"><img src="{{ asset(category.image) }}" alt="1.svg"/>
                            </div>
                            <span class="CategoriesButton-text">{{ category.name }}</span>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
